@use "../variables.scss" as *;
.Budget {
  &_DatePicker {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    justify-content: end;
    align-items: center;

    gap: 2rem;
  }

  &_ComparativeChartLine {
    grid-row: 3/ 4;
    grid-column: 1 / 6;
    background-color: white;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    &_2 {
      grid-column: 4 / 9;
      grid-row: 4 / 7;
      background-color: white;
      padding: 2rem;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }

    &_TopBar,
    &_TopBar_2 {
      display: flex;
      justify-content: space-between;
    }
    &_Title,
    &_Title_2 {
      color: var(--Quinary-color);
      font-size: 1.8rem;
      font-weight: 400;
    }
  }

  &_CardLarge {
    grid-column: 6 / 9;
    grid-row: 3 / 4;
  }

  &_firstRow {
    grid-row: 4/ 5;
    grid-column: 1 / 4;
    background-color: white;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  &_CardBar {
    grid-column: 1 / -1;

    display: flex;
    gap: 2rem;
    justify-content: space-between;

    &_2 {
      grid-column: 1 / 4;
      grid-row: 4;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      height: 100%;

      &_Card {
        background-color: white;
        padding: 2rem;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          bottom: -6.5rem; // overlap outside the card
          left: -0.1rem; // move horizontally
          width: 105%;
          height: 100%;

          background-image: url("../../assets/images/linechart_2.png");
          background-size: contain;
          background-repeat: no-repeat;

          z-index: 1;
          pointer-events: none;
        }

        &_title {
          color: var(--Quinary-color);
          font-weight: 400;
          font-size: 1.6rem;
        }

        &_data {
          color: var(--Tertiary-color);
          font-family: $font-secondary;
          font-size: 2.4rem;
        }
      }
    }
  }

  &_CardSmall_5 {
    grid-column: 1 / 4;
    grid-row: 6;
  }
  &_CardSmall_6 {
    grid-column: 1 / 4;
    grid-row: 5;
  }
}

.select {
  padding: 0.6rem 1rem;
  border-radius: $border-radius;
  border: none;
  background: white;
  font-size: 1.4rem;
}

.option {
  &:checked {
    background-color: var(--Secondary-color);
  }

  &:hover {
    background-color: #2671a7;
  }
}

//  canvas {
//     display: block;
//     margin: 0 auto;
//     max-width: 100%;
//     height: 80rem; // control canvas height
//     border-radius: 0.5rem;
//   }
