@use "../variables.scss" as *;
.Budget{
    
    &_DatePicker{
        grid-column:  1 / -1;
grid-row: 1 / 2;
display: flex;
justify-content: end;
align-items: center;

gap: 2rem;
    }

    &_firstRow{
        grid-row: 3/ 4;
        grid-column: 1 / 4;
        background-color: white;
        padding: 2rem;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
    }


    &_CardBar{
        grid-column: 1 / -1;


        display: flex;
        gap: 2rem;
        justify-content: space-between;

    }
}



//  canvas {
//     display: block;
//     margin: 0 auto;
//     max-width: 100%;
//     height: 80rem; // control canvas height
//     border-radius: 0.5rem;
//   }