@use "../variables.scss" as *;

.CardLarge{
    &_container{
        background-color: white;
        border-radius: $border-radius;
        padding: 2rem;
        height: 100%;
        box-shadow: $box-shadow;
        text-align: center;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    &_icon{
        display: flex;
        justify-content: end;
        font-size: 3.6rem;
    }

    &_title{
        color: var(--Quinary-color);
        font-size: 2.4rem;
        font-weight: 500;
    }

    &_data{
        font-size: 4.0rem;
        font-family: $font-secondary;
        color: var(--Tertiary-color);
    }

    &_performance{
        font-size: 1rem;
        color: var(--Positive-color);
        background-color: var(--Positive-bg-color);
        
        width: 15%;

        display: flex;
        justify-content: center;
        text-align: center;
    }
}