.date{
    &_container{
        grid-row: 2/3;
        grid-column: 1 /-1;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 2rem;
    }
}

.content{
    &_container{
        grid-row: 3 / 4;
    }
}