
@use "../variables.scss" as *;
.date{
    &_container{
        grid-row: 1/2;
        grid-column: 1 /-1;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 2rem;
    }
}

.select {
  padding: 0.6rem 1rem;
  border-radius: $border-radius;
  border: 1px solid var(--Secondary-color);
  background: white;
  font-size: 1.4rem; 
}