@use '../variables.scss' as *;

.searchContainer {
  display: flex;
  align-items: center;
  border: none;
  border-radius: $border-radius;
  padding: 0.2rem 1rem;
  background: white;
  width: 40rem;
  height: 4rem;
  gap: 1rem;

  &:focus-within {
    box-shadow: 0 0 5px var(--Primary-color);
    border: 1px solid var(--Primary-color);
  }
  
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
    font-size: 1.4rem;

  
}

.searchButton {
  border: none;
  background: none;
  cursor: pointer;
    font-size: 1.4rem;

}
