.container{
    display: flex;
    justify-content: space-between;
}

.content{
    background: var(--Background-gradient);
    width: 100%;


    overflow-y: auto;
  height: 100vh;
  padding: 3rem;


  
}

.navbar_context{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

