.container{
    display: flex;
    justify-content: space-between;
}

.content{
    background: var(--Background-gradient);
    width: 100%;


    overflow-y: auto;
  height: 100vh;
  padding: 1.5rem;


  
}
